In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [13]:
#Se importa el dataset de estimaciones de la Provincia 

df = pd.read_csv("Estimaciones (Provincia de BsAs 1987-2022).csv", encoding='latin-1', sep=";")
df

,Cultivo,Campaña,Provincia,Departamento,idProvincia,idDepartamento,Sup. Sembrada,Sup. Cosechada,Producción,Rendimiento
0,Ajo,1987/88,BUENOS AIRES,ARRECIFES,6,77,10,10,35,3500
1,Ajo,1987/88,BUENOS AIRES,BAHIA BLANCA,6,56,10,10,30,3000
2,Ajo,1987/88,BUENOS AIRES,BALCARCE,6,63,258,258,910,3527
3,Ajo,1989/90,BUENOS AIRES,BALCARCE,6,63,50,50,250,5000
4,Ajo,1990/91,BUENOS AIRES,BALCARCE,6,63,80,80,400,5000
...,...,...,...,...,...,...,...,...,...,...
29214,Trigo total,2017/18,BUENOS AIRES,ZARATE,6,882,1950,1950,8385,4300
29215,Trigo total,2018/19,BUENOS AIRES,ZARATE,6,882,2800,2800,12320,4400
29216,Trigo total,2019/20,BUENOS AIRES,ZARATE,6,882,2500,2500,10000,4000
29217,Trigo total,2020/21,BUENOS AIRES,ZARATE,6,882,3000,3000,11700,3900
29218,Trigo total,2021/22,BUENOS AIRES,ZARATE,6,882,7552,7552,36250,4800

In [14]:
df['Rendimiento'].replace('SD', '0', inplace=True)

In [15]:
df.Rendimiento = df.Rendimiento.astype(float)

In [16]:
df['Sup. Cosechada'].replace('SD', '0', inplace=True)

In [17]:
df.rename(columns={"Sup. Sembrada":"Sup_Sembrada","Sup. Cosechada":"Sup_Cosechada"}, inplace=True)

In [19]:
df.Sup_Cosechada = df.Sup_Cosechada.astype(float)

In [37]:
#Creamos un Dataframe solo del Girasol para realizar observaciones sobre este cultivo
Girasol = df.loc[:, 'Cultivo'] == 'Girasol'
df_G=df.loc[Girasol]
df_G
Gira = df_G

In [45]:
Gira

,Cultivo,Campaña,Provincia,Departamento,idProvincia,idDepartamento,Sup_Sembrada,Sup_Cosechada,Producción,Rendimiento
8174,Girasol,1987/88,BUENOS AIRES,25 DE MAYO,6,854,30000,30000.0,36000,1200.0
8175,Girasol,1988/89,BUENOS AIRES,25 DE MAYO,6,854,20000,19600.0,27500,1403.0
8176,Girasol,1989/90,BUENOS AIRES,25 DE MAYO,6,854,27500,27500.0,44000,1600.0
8177,Girasol,1990/91,BUENOS AIRES,25 DE MAYO,6,854,26000,26000.0,44200,1700.0
8178,Girasol,1991/92,BUENOS AIRES,25 DE MAYO,6,854,27500,25500.0,33200,1302.0
...,...,...,...,...,...,...,...,...,...,...
11328,Girasol,2011/12,BUENOS AIRES,ZARATE,6,882,1050,1050.0,1890,1800.0
11329,Girasol,2012/13,BUENOS AIRES,ZARATE,6,882,950,950.0,2470,2600.0
11330,Girasol,2013/14,BUENOS AIRES,ZARATE,6,882,650,650.0,1760,2708.0
11331,Girasol,2014/15,BUENOS AIRES,ZARATE,6,882,450,450.0,1215,2700.0
11332,Girasol,2015/16,BUENOS AIRES,ZARATE,6,882,50,50.0,135,2700.0

In [51]:
Gi = Gira[Gira.Departamento.isin(["SALTO", "CHACABUCO","ARENALES","ROJAS","LEANDRO N. ALEM","LINCOLN","JUNIN"])]
Gi

,Cultivo,Campaña,Provincia,Departamento,idProvincia,idDepartamento,Sup_Sembrada,Sup_Cosechada,Producción,Rendimiento
8897,Girasol,1987/88,BUENOS AIRES,CHACABUCO,6,210,1000,1000.0,2000,2000.0
8898,Girasol,1988/89,BUENOS AIRES,CHACABUCO,6,210,1000,1000.0,2000,2000.0
8899,Girasol,1989/90,BUENOS AIRES,CHACABUCO,6,210,5000,4000.0,5200,1300.0
8900,Girasol,1990/91,BUENOS AIRES,CHACABUCO,6,210,4900,4900.0,8800,1796.0
8901,Girasol,1991/92,BUENOS AIRES,CHACABUCO,6,210,5370,3870.0,5000,1292.0
...,...,...,...,...,...,...,...,...,...,...
10858,Girasol,2015/16,BUENOS AIRES,SALTO,6,714,50,50.0,145,2900.0
10859,Girasol,2018/19,BUENOS AIRES,SALTO,6,714,590,590.0,1652,2800.0
10860,Girasol,2019/20,BUENOS AIRES,SALTO,6,714,350,350.0,1120,3200.0
10861,Girasol,2020/21,BUENOS AIRES,SALTO,6,714,200,200.0,600,3000.0
10862,Girasol,2021/22,BUENOS AIRES,SALTO,6,714,70,70.0,231,3300.0