In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import sklearn 
import seaborn as sb

In [6]:
df=pd.read_excel("precipitacion_campa.xlsx")
df

     precipitacion  campaña         mes
0             56.2  1987/88       enero
1             32.9  1987/88     febrero
2            283.0  1987/88       marzo
3             54.7  1987/88       abril
4              0.5  1987/88        mayo
..             ...      ...         ...
319            7.0  2014/15      agosto
320           89.5  2014/15  septiembre
321          140.1  2014/15     octubre
322          231.0  2014/15   noviembre
323          157.0  2014/15   diciembre

[324 rows x 3 columns]

In [14]:
df.pivot(columns =['mes'], rows=["campaña"], values ="precipitacion")

TypeError: pivot() got an unexpected keyword argument 'rows'